.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  list-style: none;
}

.active a {
  background-color: #007bff;
  color: #fff;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
